.login-container3{
    position: relative;
    display: flex;
}

img[for="get"]{
    max-width: 100%; 
    height: auto;
    position: absolute; 
    display: block; 
    margin: 0 auto;
}

.overlay-contant3{
    z-index: 1;
}
.please-enter-the {
    align-self: stretch;
    position: relative;
    font-size: 22px;
    color: #b0b0b0;
  }
h2[for="getsize"]{
    color: white;
    padding-left: 750px;
    padding-top: 200px;
    font-size: 35px;
}

h1[for="otp"]{
    color: white;
    padding-left: 750px;
    padding-top: 13px;
    font-size: 27px;
}

.form-container3{
    max-width: 500px;
    padding-left: 750px;
}

.text3{
    margin-top: 30px;
    background-color: transparent;
    border: 1px solid white;
    padding: 15px;
    width: 350px;
    border-radius: 8px;
    color: white;
}

.btn3
{
    background-color: white;
    color : black;
    margin-top: 30px;
    border: 1px solid white;
    padding: 10px;
    width: 380px;
    border-radius: 8px;
}
.donthaveacc3{
    padding-top: 20px;
    padding-left: 750px;
}
.signup3
{
    color: rgb(0, 128, 0);
    padding-left: 0px;
    font-size: 20px;
    gap: 7px;
}
#account3
{
    color: white;
    padding-left: 0px;
    font-size: 20px;
    width : 110px;
}
.divsign
{
    display:flex;
    justify-content: center;
    /* background-color :brown; */
    width : 100px;
}
@media screen and (max-width: 1200px){
    h2[for="getsize"]{
        padding-left: 600px;
        font-size: 30px;
    }
    h1[for="otp"]{
        padding-left: 600px;
        font-size: 22px;
    }
    .form-container3{
        padding-left: 600px;
    }
    .donthaveacc3{
        padding-left: 600px;
    }
}
@media  screen and (max-width: 1024px) {
    h2[for="getsize"]{
        padding-left: 500px;
        font-size: 30px;
        padding-top: 150px;
    }
    h1[for="otp"]{
        padding-left: 500px;
        font-size: 22px;
    }
    .form-container3{
        padding-left: 500px;
    }
    .donthaveacc3{
        padding-left: 500px;
    }
    img[for="get"]{
        height: 142%;
    }
}
@media  screen and (max-width: 768px) {
    h2[for="getsize"]{
        padding-left: 400px;
        font-size: 25px;
        padding-top: 200px;
    }
    h1[for="otp"]{
        padding-left: 400px;
        font-size: 17px;
    }
    .form-container3{
        padding-left: 400px;
    }
    .donthaveacc3{
        padding-left: 400px;
    }
    img[for="get"]{
        height: 173%;
        max-width: 116%;
    }
}