.login-container4{
    position: relative;
    display: flex;
}

img[for="resetPass"]{
    max-width: 100%; 
    height: auto;
    position: absolute; 
    display: block; 
    margin: 0 auto;
}

.overlay-contant4{
    z-index: 1;
    transform: translate(-505,50%);
}
.please-enter-the {
    align-self: stretch;
    position: relative;
    font-size: 22px;
    color: #b0b0b0;
  }
h2[for="reset"]{
    color: white;
    padding-left: 850px;
    padding-top: 200px;
    font-size: 35px;
}

h1[for="reset1"]{
    color: white;
    padding-left: 850px;
    padding-top: 10px;
    font-size: 30px;
}

.form-container4{
    max-width: 200px;
    padding-left: 850px;
}
label[for="reset2"]{
    color: white;
    font-size: 25px;
    font-style: normal;
    
}

.text4{
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    width: 300px;
    border-radius: 8px;
    color: white;
}


.btn4
{
    background-color: white;
    color : black;
    margin-top: 30px;
    /* background-color: transparent; */
    border: 1px solid white;
    padding: 8px;
    width: 330px;
    border-radius: 8px;
}
.signup4
{
    color : green;
    font-size: 15px;
    width : 30px;
}
#account4
{
    color: white;
    font-size: 15px;
    width : 110px;
}
.donthaveacc4{
    padding-top: 20px;
    padding-left: 850px;
}

@media  screen and (max-width: 1024px) {
    h2[for="reset"]{
        padding-left: 500px;
        font-size: 30px;
        padding-top: 150px;
    }
    h1[for="reset1"]{
        padding-left: 500px;
        font-size: 22px;
    }
    .form-container4{
        padding-left: 500px;
    }
    .donthaveacc4{
        padding-left: 500px;
    }
    img[for="resetPass"]{
        height: 142%;
    }
}

@media  screen and (max-width: 768px) {
    h2[for="reset"]{
        padding-left: 400px;
        font-size: 22px;
        padding-top: 200px;
    }
    h1[for="reset1"]{
        padding-left: 400px;
        font-size: 17px;
    }
    .form-container4{
        padding-left: 400px;
    }
    .donthaveacc4{
        padding-left: 400px;
    }
    img[for="resetPass"]{
        height: 150%;
        max-width: 116%;
    }
    label[for="reset2"]{
        font-size: 20px; 
    }
    .btn4{
        margin-top: 20px;
    }
}