.login-container5 {
    position: relative;
    display: flex;
    justify-content: center;
}

img[for="PassSuccess1"] {
    max-width: 100%; 
    height: auto;
    position: absolute; 
    display: block; 
    margin: 0 auto;
}

img[for="PassSuccess2"] {
    width: 10rem; 
    height: 10rem;
    padding-top: 800px;
    padding-left: 400px;
}

.overlay-content5 {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

h2[for="success"] {
    color: white;
    padding-left: 400px;
    padding-top: 5px;
    font-size: 30px;

}

h1[for="success2"] {
    color: white;
    padding-left: 400px;
    padding-top: 40px;
    font-size: 20px;
}

.form-container5 {
    max-width: 500px;
    padding-left: 400px;
}

.btn5 {
    background-color: white;
    color : black;
    margin-top: 40px;
    /* background-color: transparent; */
    border: 1px solid white;
    padding: 10px;
    width: 330px;
    border-radius: 8px;
}
@media  screen and (max-width: 1024px) {
    img[for="PassSuccess2"]{
        padding-top: 700px;
    }
}
@media  screen and (max-width: 768px) {
    h2[for="success"]{
        padding-left: 300px;
    }
    h1[for="success2"]{
        padding-left: 300px;
    }
    .form-container5{
        padding-left: 300px;
    }
    img[for="PassSuccess1"]{
        max-width: 105%;
        height: 715px;
    }
    img[for="PassSuccess2"]{
        width: 8rem;
        height: 8rem;
        padding-top: 650px;
        padding-left: 300px;
    }
}