.login-container2{
    position: relative;
    display: flex;
}

img[for="forget"]{
  max-width: 100%; 
  height: auto;
  position: absolute; 
  display: block; 
  margin: 0 auto;
}

.overlay-contant2{
    z-index: 1;
    transform: translate(-505,50%);
}
.please-enter-the {
    align-self: stretch;
    position: relative;
    font-size: 22px;
    color: #b0b0b0;
  }
h2[for="fp"]{
    color: white;
    padding-left: 750px;
    padding-top: 200px;
    font-size: 35px;
}
h1[for="fup"]{
    color: white;
    padding-left: 750px;
    font-size: 30px;
    padding-top: 13px;
}
p[for="emailcheck"]{
    color: white;
    padding-left: 750px;
    padding-top: 0px;
    font-size: 17px;
}

.form-container2{
    max-width: 500px;
    padding-left: 750px;
    color: white;
}

label{
    color: white;
    font-size: 17px;
}

.text2{
    margin-top: 30px;
    background-color: transparent;
    border: 1px solid white;
    padding: 15px;
    width: 350px;
    border-radius: 8px;
    color: white;
}

.btn2
{
    background-color: white;
    color : black;
    margin-top: 30px;
    border: 1px solid white;
    padding: 10px;
    width: 380px;
    border-radius: 8px;
}

.donthaveacc2{
    padding-top: 20px;
    padding-left: 750px;
}
.signup2 {
    color: rgb(0, 128, 0);
    padding-left: 0px;
    font-size: 20px;
    gap: 7px;
}
#account2 {
    color: white;
    padding-left: 0px;
    font-size: 20px;
    width : 110px;
}

@media screen and (max-width: 1200px) {
    h2[for="fp"]
    {
        padding-left: 550px;
        font-size: 30px;
    }
    h1[for="fup"]{
        padding-left: 550px;
        font-size: 27px;
    }
    p[for="emailcheck"]{
        padding-left: 550px;
        padding-top: 0px;
        font-size: 15px;
    }
    .form-container2{
        max-width: 500px;
        padding-left: 550px;
    }
    .donthaveacc2{
        padding-top: 20px;
        padding-left: 550px;
    }
}
@media screen and (max-width: 1024px){
    h2[for="fp"]
    {
        padding-left: 500px;
        font-size: 25px;
        padding-top: 150px;
    }
    h1[for="fup"]{
        padding-left: 500px;
        font-size: 22px;
    }
    p[for="emailcheck"]{
        padding-left: 500px;
        padding-top: 0px;
        font-size: 12px;
    }
    .form-container2{
        max-width: 500px;
        padding-left: 500px;
    }
    .donthaveacc2{
        padding-top: 20px;
        padding-left: 500px;
    }
    img[for="forget"]{
        height: 140%;
    }
}
@media screen and (max-width: 768px){
    h2[for="fp"]
    {
        padding-left: 400px;
        font-size: 20px;
        padding-top: 200px;
    }
    h1[for="fup"]{
        padding-left: 400px;
        font-size: 17px;
    }
    p[for="emailcheck"]{
        padding-left: 400px;
        padding-top: 0px;
        font-size: 10px;
    }
    .form-container2{
        max-width: 500px;
        padding-left: 400px;
    }
    .donthaveacc2{
        padding-top: 15px;
        padding-left: 400px;
    }
    .text2{
        width: 300px;
        padding: 12px;
    }
    .btn2{
        width: 330px;
        padding: 12px;
    }
    #account2{
        font-size: 15px;
        width: 80px;
    }
    .signup2{
        font-size: 15px;
    }
    img[for="forget"]{
        height: 140%;
        max-width: 104%;
    }
}


